.jumbotron {
    background-image: url("/assets/img/veggie-burger.png");
    background-repeat: no-repeat;
    background-position: 75%  0%;
    background-size: contain;
    margin-top: 10px;
}
 
.jumbotron > h1 { 
    font-family: Arial, Helvetica, sans-serif;
    
}

#newburger {
    border-radius: 5px;
   
}

#color-override {
    color:black;  
}

#lefthead {
    background-color: lightcoral;
    color: black;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton {
    float: right;
    
}

#trashbutton {
    float: right;
    
}

#righthead {
    background-color: lightcoral;
    color: black;
    text-align: center;
    font-size: 1.2em;
}